gym==0.22.0
pygame==2.1.2
jupyterlab==3.3.0
matplotlib==3.5.1
opencv-python==4.5.5.62
box2d-py==2.3.8
box2d==2.3.2
box2d-kengz==2.3.3
stable-baselines3==1.5.0

# might need to run these commands as well to get some other packages we need 
# $ pip install 'stable-baselines3[extra]' 
# $ pip install 'gym[all]'